html {
    font-family: "Poppins";
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(235, 235, 235);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: white;
    box-shadow: 2px 6px 6px 1px rgba(0, 0, 0, 0.528);
    transition: 0.6s linear;
    overflow: hidden;
}
.container.active {
    width: 350px;
    padding: 0 24px;
}
.container .wrapButton {
    cursor: pointer;
    height: 30px;
    width: 30px;
    position: relative;
    flex-shrink: 0;
}
.container .wrapButton:focus {
    outline: 0;
}
.container .wrapButton .bar {
    width: 20px;
    height: 3px;
    background-color: blue;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
}
.container .wrapButton .bar.location2 {
    top: auto;
    bottom: 10px;
}
.container.active .wrapButton .bar.location1 {
    transform: rotate(765deg) translateY(5.5px);
}
.container.active .wrapButton .bar.location2 {
    transform: rotate(-405deg) translateY(-5.5px);
}
.container #navMenu {
    display: flex;
    margin-left: 0;
    gap: 20px;
    width: 0;
    transition: width 0.6s linear;
    overflow: hidden;
}
.container.active #navMenu {
    width: 100%;
    padding-right: 20px;
}
.container #navMenu .letter {
    opacity: 0;
    transform: rotateY(0deg);
    transition:
        transform 0.6s linear,
        opacity 0.6s linear;
    font-size: 18px;
    font-weight: 500;
}
.container.active #navMenu .letter {
    opacity: 1;
    transform: rotateY(360deg);
}
